# Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# SQLite (if you use it later)
*.sqlite3
